li, li p{
  font-family: "Times New Roman";

}
.aside{
  color: rgb(250, 250, 250);
}


#scenarios li p.adult{
  font-family: monospace  ;
  color: rgb(240, 0, 100);
}

.accordion-panel {
  display:none;
}
