html{
  margin: 0 auto;
  width: 600px;
  background-color: lightgray;
}

h2 {
  font-family: "Lucida Sans Unicode";
  font-weight: lighter;
  display: none;
}
h3{
  font-family: Balthazar;
  font-weight: bolder;
  font-style: italic;
  font-size: 30px;
}
p {
  font-family: Georgia;
  font-size: 17px;
}
li{
  list-style-type: none;
}
li, li p{
  font-family: "Times New Roman";
}

.aside{
  color: rgb(250, 250, 250);
}

.footer-image-links{
  display: block;
  margin: 10px auto;
  width: 400px;
}
.footer-image-links img{
  padding: 5px;
}

#scenarios li p.adult{
  font-family: monospace;
  color: rgb(240, 0, 100);
}

.accordion-panel {
  display:none;
}
